<% if @post.persisted? %>
  <%= turbo_stream.replace "bulletin-form" do %>
    <div id="bulletin-form">
      <%= render "bulletin_boards/success", totem: @totem %>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "bulletin-form" do %>
    <div id="bulletin-form">
      <%= render "bulletin_boards/form", totem: @totem, post: @post %>
    </div>
  <% end %>
<% end %>
